<mat-toolbar>
    <span><button mat-button routerLink="/home" class="top-link">Farmcrash</button></span>
    <span><button mat-button routerLink="/buy-crops" class="link" *ngIf="logged">Buy crops</button></span>
    <span><button mat-button routerLink="/hire-worker" class="link" *ngIf="logged">Hire worker</button></span>
    <span>
        <button mat-button [matMenuTriggerFor]="lists" class="link" *ngIf="logged">Lists</button>
        <mat-menu #lists="matMenu">
            <button mat-menu-item routerLink="/leaderboard">Leaderboard</button>
            <button mat-menu-item routerLink="/crop-list">Crop list</button>
            <button mat-menu-item routerLink="/worker-list">Worker list</button>
            <button mat-menu-item routerLink="/item-list">Item list</button>
        </mat-menu>
    </span>
    <span><button mat-button routerLink="/stats" class="link" *ngIf="logged">Stats</button></span>
    <span><button mat-button routerLink="/friends" class="link" *ngIf="logged">Friends</button></span>
    <div class="w-100x d-flex flex-row justify-content-end align-items-center" *ngIf="player">
        <img src="http://51.103.16.218/{{player.image}}" alt="Profile picture" class="pfp" *ngIf="logged">
        <button mat-button [matMenuTriggerFor]="lists" class="link" *ngIf="logged">{{ player.name }}</button>
        <mat-menu #lists="matMenu">
            <button mat-menu-item routerLink="/user-info">User info</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>