<div class="container" *ngIf="player">
    <h2 class="text-center">Crops</h2>
    <div class="row justify-content-center" *ngIf="player.crops.length !== 0; else noCrops">
        <div class="col-12 col-sm-8 col-md-6 col-xl-4" *ngFor="let crop of player.crops; index as i">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ crop.name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="http://51.103.16.218{{ crop.imageUrl }}" alt="{{ crop.name }}">
                <mat-card-actions>
                    <button mat-button *ngIf="crop.stage === 'SELL'" (click)="sellCrop(i)">Sell</button>
                    <button mat-button *ngIf="crop.stage === 'READYTOFARM'" (click)="farmCrop(i)">Farm</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <ng-template #noCrops>
        <h3 class="text-center">You don't have crops</h3>
    </ng-template>
</div>