<mat-list *ngIf="players">
    <mat-list-item *ngFor="let player of players.content">
        <img matListAvatar src="http://localhost:4040/{{ player.image }}" alt="{{ player.name }}">
        <h3 matLine> {{player.name}} </h3>
        <div matLine>
            <button mat-button (click)="sendFriendRequest(player.name)">Befriend</button>
            <button mat-button (click)="block(player.name)">Block</button>
        </div>
    </mat-list-item>
</mat-list>

<div class="btn-group" role="group" aria-label="Basic example" *ngIf="players">
    <button type="button" class="btn btn-primary" *ngIf="page > 0" (click)="previous()">Previous</button>
    <button type="button" class="btn btn-primary" *ngFor="let i of pages" (click)="goToPage(i)">{{ i }}</button>
    <button type="button" class="btn btn-primary" *ngIf="page < (players.totalPages - 1)" (click)="next()">Next</button>
</div>